In [1]:
import pandas as pd
df = pd.DataFrame({
    'Name':['sanjay','sk','Saran','Somu','sai','subu'],
    'Marks':[65,56,56,78,45,65],
    'Roll_no':[65,98,95,105,78,106]
})
print("Original DataFrame:\n",df)

Original DataFrame:
      Name  Marks  Roll_no
0  sanjay     65       65
1      sk     56       98
2   Saran     56       95
3    Somu     78      105
4     sai     45       78
5    subu     65      106

In [2]:
grouped = df.groupby('Marks')
print("Group by Marks 65:\n",grouped.get_group(65))

Group by Marks 65:
      Name  Marks  Roll_no
0  sanjay     65       65
5    subu     65      106

In [3]:
df = pd.DataFrame({
    'Name':['sanjay','sk','Saran','Somu','sai','subu'],
    'Marks':[65,56,56,78,45,65],
    'Roll_no':[65,98,95,105,78,106]})
nd = df[df.duplicated('Marks')]
print(nd)

    Name  Marks  Roll_no
2  Saran     56       95
5   subu     65      106

In [4]:
details = pd.DataFrame({
    'ID':[1,2,3,4,5],
    'Name':['sanjay','sk','Saran','Somu','sai'],
    'Branch':['EEE','Mech','ECE','AE','ECE']
})
fees_status = pd.DataFrame({
    'ID':[1,2,3,4,5],
    'Pending':['NIL',9885,9576,105901,7875],
})
print('\nMerged Dataframe:\n',pd.merge(details,fees_status,on='ID'))

Merged Dataframe:
    ID    Name Branch Pending
0   1  sanjay    EEE     NIL
1   2      sk   Mech    9885
2   3   Saran    ECE    9576
3   4    Somu     AE  105901
4   5     sai    ECE    7875