In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
print("DataFrame.apply function:\n")
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("\nOriginal DataFrame:\n",info)
print("\nsquare root of dataFrame:\n",info.apply(np.sqrt))
print("\nsum os each column\n",info.apply(np.sum,axis=0))
print("\nsum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:


Original DataFrame:
    P  Q
0  2  7
1  2  7
2  2  7

square root of dataFrame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

sum os each column
 P     6
Q    21
dtype: int64

sum of each row:
 0    9
1    9
2    9
dtype: int64

In [6]:
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns=['X','Y','Z'])
print("\nOriginal DatFrame:\n",info)
print("\nMinimum and maximum of each column:\n")
print(info.agg(['min','max']))

Original DatFrame:
    X  Y  Z
0  1  5  7
1  2  7  8
2  3  6  9

Minimum and maximum of each column:

     X  Y  Z
min  1  5  7
max  3  7  9

In [8]:
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=["Emp","id"])
print("\nOriginal DataFrame:\n",d2)
d2['Age']=[35,40]
print("\nAdding new column:\n",d2)
d=d2.assign(sex=['Male','Male'])
print("\nAdding new column:\n",d)

Original DataFrame:
     Emp   id
0  Dale  123
1  Mark  143

Adding new column:
     Emp   id  Age
0  Dale  123   35
1  Mark  143   40

Adding new column:
     Emp   id  Age   sex
0  Dale  123   35  Male
1  Mark  143   40  Male

In [10]:
print("\nDataFrame.Sort function:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print("\nSort index:\n",info2)
#info=pd.dataFrame({'col1':[7,1,8,3],'col2':[8,12,4,9]})
info3=info.sort_values(by='col3')
print("\nsort Values:\n",info3)

DataFrame.Sort function:

       col3      col4
3  0.256552 -0.001282
2 -0.045213  0.277807
0  0.049837  0.745889
4  1.257609  0.615669
1 -0.753133 -1.817571

Sort index:
        col3      col4
0  0.049837  0.745889
1 -0.753133 -1.817571
2 -0.045213  0.277807
3  0.256552 -0.001282
4  1.257609  0.615669

sort Values:
        col3      col4
1 -0.753133 -1.817571
2 -0.045213  0.277807
0  0.049837  0.745889
3  0.256552 -0.001282
4  1.257609  0.615669

In [6]:
import pandas as pd
import numpy as np

print("\nDataFrame.Merge function:\n")
left=pd.DataFrame({'id': [1,2,3,4],
                    'Name': ['Sai', 'sangu', 'Sabb', 'pravi'],
                    'sub': ['sub1', 'sub2', 'sub4','sub3']})

right=pd.DataFrame({
                    'id':[1,2,3,4],
                    'Name': ['som', 'Saran', 'sanjay', 'shivi'],
                    'sub':['sub2', 'sub4', 'sub3', 'sub5']})
print(left)
print(right)
print(pd.merge(left,right,on="id"))

DataFrame.Merge function:

   id   Name   sub
0   1    Sai  sub1
1   2  sangu  sub2
2   3   Sabb  sub4
3   4  pravi  sub3
   id    Name   sub
0   1     som  sub2
1   2   Saran  sub4
2   3  sanjay  sub3
3   4   shivi  sub5
   id Name_x sub_x  Name_y sub_y
0   1    Sai  sub1     som  sub2
1   2  sangu  sub2   Saran  sub4
2   3   Sabb  sub4  sanjay  sub3
3   4  pravi  sub3   shivi  sub5