In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame([[11,21,31],[1,22,32],[315,32,33]],
                index=['one','two','three'],columns=['a','b','c'])
print(df)

         a   b   c
one     11  21  31
two      1  22  32
three  315  32  33

In [6]:
df.to_excel('D:\pandas_to_excel.xlsx',sheet_name='name_sheet_name')

In [8]:
d=pd.DataFrame([[110,210,310],[12,220,320],[310,320,330]],
                index=['four','five','six'],columns=['a','b','c'])
d.to_excel('D:\pandas_to_excel1.xlsx',sheet_name='new_sheet_name')

In [19]:
x=pd.read_excel('D:\pandas_to_excel.xlsx')
y=pd.read_excel('D:\pandas_to_excel1.xlsx')
z=x.append(y)
z.to_excel('D:\pandas_to_excel3.xlsx')

AttributeError: 'DataFrame' object has no attribute 'append'

In [24]:
df=y.sort_values(["a"])
print(df)
df.to_excel('D:\pandas_to_excel4.xlsx')

  Unnamed: 0    a    b    c
1       five   12  220  320
0       four  110  210  310
2        six  310  320  330

In [27]:
df=pd.read_csv("D:\employees.csv")

In [28]:
print(df)

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male  08-06-1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996        06:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male  03-04-2005        01:00 PM  138705    9.340
4        Larry    Male   1/24/1998        04:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014        06:09 AM  132483   16.655
996    Phillip    Male   1/31/1984        06:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013        04:45 PM   60500   11.985
999     Albert    Male   5/15/2012        06:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [29]:
print(list(df))

['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary', 'Bonus %', 'Senior Management', 'Team']

In [31]:
print(formt(len(df)))

NameError: name 'formet' is not defined